* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

:root {
  --white: white;
  --charade: #2E323F;
}

.header {
  padding: .4rem 3rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--charade);
  font-size: 18px;
  font-weight: bold;
}

.nav__links > a,
.nav__account > a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

