* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

:root {
  --white: white;
  --charade: #2E323F;
  --donkey-brown: #A59678;
  --bright-gray: #3B4050;
  --storm-gray: #6F737F;
  --concrete: #f2f2f2;
}

img {
  max-width: 100%;
}

.header {
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--charade);
}

.nav {
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.nav__links > a + a,
.nav__account > a + a {
  margin-left: 1rem;
}

.nav__links > a,
.nav__account > a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
}

.nav__account--button {
  padding: .5rem 1.2rem;
  background-color: var(--donkey-brown);
  border-radius: 2rem;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.hero {
  padding: 6rem 0;
  background-color: var(--bright-gray);
}

.hero .container {
  display: flex;
  gap: 4rem;
}

.hero .container > * {
  width: 100%;
}

.hero__title {
  color: var(--white);
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1;
}

.hero__title--brown {
  color: var(--donkey-brown);
}

.hero__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  color: var(--white);
}

.hero__text {
  font-size: .8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.hero__button {
  align-self: flex-start;
  padding: .4rem 1rem;
  background-color: var(--donkey-brown);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 2rem;
  text-transform: uppercase;
}

.qualities {
  padding: 4rem 0;
  background-color: var(--concrete);
}

.qualities .container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.qualities-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.qualities-item h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--donkey-brown);
}

.qualities-item span {
  font-size: .8rem;
  font-family: "Montserrat", sans-serif;
}

.make-it {
  padding: 4rem 0;
}

.make-it .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.make-it__description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.make-it__description h2 {
  color: var(--donkey-brown);
  font-size: 1.8rem;
  font-weight: bold;
}

.make-it__description span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.make-it__items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.make-it__item {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  color: var(--white);
  background-color: var(--bright-gray);
}