* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.container {
  padding: 15rem;
  color: white;
  background-color: #23424A;
}

.container__title {
  font-size: 48px;
  font-weight: 900;
}