* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.container {
  padding: 10rem 10rem;
  color: white;
  background-color: #23424A;
}

.container__title,
.container__description {
  width: 50%;
}

.container__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 56.31px;
}

.container__description {
  margin: 3rem 0;
  font-size: 21px;
  font-weight: 400;
}

.container__button {
  padding: 1rem 2.5rem;
  color: black;
  background-color: #38CFD9;
  border: none;
  border-radius: 2rem;
  font-size: 21px;
  font-weight: 700;
}